/*
 * Login CSS
 *
 * @author  finkles
 * @date    2014-10-23
 * @since   3.0
 */
@charset "utf-8";

html, body { width: 100%; height: 100%; overflow: hidden; margin: 0; font-family: Tahoma, Gulim, Dotum, "Malgun Gothic" !important; }
body { background-color: #fff; font-size: 12px; }
a:link { text-decoration: none; color: #6F6F6F; }
a:visited { color: #6F6F6F; }
a:hover { font-weight: bold; color: #DB5A5A; }

.wrap { width: 100%; height: 100%; display:table; }

.box { width: 50%; height: 100%; text-align: center; vertical-align: middle; display:table-cell;}
.box_f { width: 100%; height: 100%; text-align: center; vertical-align: middle; display:table-cell;}
.box1 {background-color: #e9e9e9; padding-bottom: 200px; }
.box2 {background-color: #c8de45; }
.pat60 {  }
.pat30 {  }
.grid {position:relative;margin-top:50px;}
.grid ul{margin:0;padding:0;}
.grid li{display:inline-block;margin:0 10px;text-align:center; }
.grid li a{display:inline-block;margin:0;padding:0;}

/* 로그인 */
.loginBox{position:relative;display:inline-block;width:580px;height:308px;margin:0 auto;padding:0;font-family:Arial, sans-serif;border:1px solid #ccc;background:#fff;}		
.loginBox .img{float:left;display:inline-block;vertical-align:top;}		
.login {float:right;display:inline-block;width:244px;margin:0;padding:24px 34px 32px 0;}
.login .tit{float:left;display:inline-block;width:100%;margin:0;padding:0 0 12px 0;font-size:22px;color:#474747;text-align:right;border-bottom:1px solid #d9d9d9;}
.id_box {float:right;display:inline-block;margin:32px 0 58px 0;padding:0;}
.id_box ul{margin:0;padding:0;}
.id_box li{float:left;display:block;margin-bottom:8px;}
.id_box .bfont{float:left;display:inline-block;width:60px;line-height:31px;padding:0 7px 0 0;font-size:14px;color:#464646;text-align:right;}
.input1 {float:left;display:inline-block;width:174px;height:31px;line-height:31px;margin:0;padding:0;color:#333;text-indent:5px;background:#fff;border:1px solid #c4c4c4;}
.bright{display:inline-block;float:right;margin-top:3px;}
.bright input[type="checkbox"]{float:left;display:inline-block;}
.bright label{float:left;display:inline-block;padding:1px 0 0 1px;font-size:11px;color:#8c8c8c;vertical-align:middle;}
.btn{display:inline-block;padding:0;width:100%;height:38px;line-height:38px;background:#5e656d;font-size:16px;color:#fff;font-weight:bold;text-align:center;border: none;cursor: pointer;}
.btn:hover{background:#4b535b;}

/*----------------------------------------
    FOOTER
----------------------------------------*/
.footer {
    width: 100%; line-height: 24px; background: #B1B4B6; 
    opacity: 0.8; filter:alpha(opacity=50); z-index: 9999; position: absolute; bottom: 0; box-shadow: 1px 0px 2px rgba(0,0,0,0.2); }
.footer:before, .footer:after { content: " "; display: table; }
.footer:after { clear: both }
.footer span.right { float: right; color: #666666; font-size: 11px; }
